.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}

.product {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px;
  max-width: 300px;
}

.product img {
  width: 5cm; 
  height: 5cm; 
  object-fit: cover; 
}

.cont-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
